body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:910px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15444_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u15444 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:910px;
  height:544px;
  display:flex;
}
#u15444 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15444_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15445_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15445 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15445 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15445_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15446 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15447_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15447_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15447_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15447 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15447 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15447_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15447.disabled {
}
#u15448_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15448_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15448_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15448 {
  border-width:0px;
  position:absolute;
  left:180px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15448 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15448_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15448.disabled {
}
.u15448_input_option {
}
#u15449 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15450_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u15450 {
  border-width:0px;
  position:absolute;
  left:340px;
  top:118px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u15450 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15450_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15451_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15451 {
  border-width:0px;
  position:absolute;
  left:346px;
  top:126px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15451 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15451_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15452_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u15452 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:118px;
  width:80px;
  height:30px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u15452 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15452_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15453_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15453 {
  border-width:0px;
  position:absolute;
  left:787px;
  top:62px;
  width:100px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u15453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15454 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:850px;
  height:310px;
}
#u15455_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u15455 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u15455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15456_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15456 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15456 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15457_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15457 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15457 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15457_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15458_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15458 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15458 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15458_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15459_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15459 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15459 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15459_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15460_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15460 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15460 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15460_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15461_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15461 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15461 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15461_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15462_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15462 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u15462 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15462_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15463_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15463 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15463 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15463_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15464_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15464 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15464 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15464_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15465 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15466 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15467 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15468 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15469 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u15469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15470_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15470 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15470 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15471 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15472_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15472 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15473_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15473 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15474_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15474 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15475_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15475 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15475 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15476_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u15476 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:39px;
  display:flex;
}
#u15476 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15476_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15477_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15477 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15477 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15477_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15478_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15478 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15478 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15478_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15479_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15479 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15479 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15479_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15480_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15480 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15480 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15480_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15481_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15481 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15481 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15481_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15482_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15482 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15482 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15482_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15483_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15483 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:50px;
  height:40px;
  display:flex;
}
#u15483 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15483_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15484_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15484 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15484 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15484_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15485_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15485 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15485 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15485_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15486_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15486 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15486 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15486_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15487_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15487 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15487 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15487_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15488_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15488 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15488 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15488_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15489_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15489 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15489 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15489_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15490_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u15490 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:50px;
  height:41px;
  display:flex;
}
#u15490 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15490_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15491_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15491 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15491 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15491_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15492_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15492 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15492 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15492_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15493_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15493 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15493 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15493_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15494_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15494 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15494 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15494_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15495_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15495 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15495 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15495_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15496_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15496 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15496 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15496_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15497_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15497 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:50px;
  height:40px;
  display:flex;
}
#u15497 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15497_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15498_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15498 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15498 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15498_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15499_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15499 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15499 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15499_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15500_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15500 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15500 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15500_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15501_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15501 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15501 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15501_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15502_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15502 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15502 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15502_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15503_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15503 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15503 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15503_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15504_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15504 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:50px;
  height:40px;
  display:flex;
}
#u15504 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15504_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15505_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15505 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15505 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15505_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15506_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15506 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15506 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15506_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15507_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15507 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15507 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15507_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15508_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15508 {
  border-width:0px;
  position:absolute;
  left:450px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15508 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15508_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15509_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15509 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15509 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15509_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15510_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15510 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15510 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15510_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15511 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15512_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15512 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:497px;
  width:53px;
  height:25px;
  display:flex;
}
#u15512 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15512_img.mouseOver {
}
#u15512.mouseOver {
}
#u15512_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15513_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15513 {
  border-width:0px;
  position:absolute;
  left:405px;
  top:497px;
  width:43px;
  height:25px;
  display:flex;
}
#u15513 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15513_img.mouseOver {
}
#u15513.mouseOver {
}
#u15513_img.selected {
}
#u15513.selected {
}
#u15513_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15514_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15514 {
  border-width:0px;
  position:absolute;
  left:448px;
  top:497px;
  width:43px;
  height:25px;
  display:flex;
}
#u15514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15514_img.mouseOver {
}
#u15514.mouseOver {
}
#u15514_img.selected {
}
#u15514.selected {
}
#u15514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15515_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15515 {
  border-width:0px;
  position:absolute;
  left:491px;
  top:497px;
  width:43px;
  height:25px;
  display:flex;
}
#u15515 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15515_img.mouseOver {
}
#u15515.mouseOver {
}
#u15515_img.selected {
}
#u15515.selected {
}
#u15515_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15516_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15516 {
  border-width:0px;
  position:absolute;
  left:542px;
  top:497px;
  width:53px;
  height:25px;
  display:flex;
}
#u15516 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15516_img.mouseOver {
}
#u15516.mouseOver {
}
#u15516_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15518_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15518 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:204px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15519_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15519 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:204px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15520_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15520 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:204px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15521_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15521 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:244px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15522_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15522 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:244px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15523_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15523 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:244px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15524_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15524 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:283px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15525_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15525 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:283px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15526_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15526 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:283px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15527_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15527 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:323px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15528_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15528 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:323px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15529_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15529 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:323px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15530_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15530 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:363px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15531_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15531 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:363px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15532_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15532 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:363px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15533_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15533 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:403px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15534_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15534 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:403px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15535_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15535 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:403px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15536_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15536 {
  border-width:0px;
  position:absolute;
  left:753px;
  top:443px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15537_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15537 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:443px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15538_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:40px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u15538 {
  border-width:0px;
  position:absolute;
  left:847px;
  top:443px;
  width:40px;
  height:20px;
  display:flex;
  color:#FFFFFF;
}
#u15538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
