body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4757_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:715px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u4757 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:11px;
  width:900px;
  height:715px;
  display:flex;
}
#u4757 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4757_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:143px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4758 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:143px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u4758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4758_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4759 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:836px;
  height:121px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u4760 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:153px;
  width:836px;
  height:121px;
  display:flex;
}
#u4760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4761_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4761 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:177px;
  width:71px;
  height:16px;
  display:flex;
}
#u4761 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4761_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4762 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:177px;
  width:79px;
  height:16px;
  display:flex;
}
#u4762 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4763_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4763 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:177px;
  width:70px;
  height:16px;
  display:flex;
}
#u4763 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4763_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4764 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:177px;
  width:70px;
  height:16px;
  display:flex;
}
#u4764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4765 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:177px;
  width:73px;
  height:16px;
  display:flex;
}
#u4765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4766 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:177px;
  width:44px;
  height:16px;
  display:flex;
}
#u4766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4767 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:177px;
  width:73px;
  height:16px;
  display:flex;
}
#u4767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4768 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:177px;
  width:44px;
  height:16px;
  display:flex;
}
#u4768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4769 {
  border-width:0px;
  position:absolute;
  left:67px;
  top:223px;
  width:71px;
  height:16px;
  display:flex;
}
#u4769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4770 {
  border-width:0px;
  position:absolute;
  left:150px;
  top:223px;
  width:79px;
  height:16px;
  display:flex;
}
#u4770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4771 {
  border-width:0px;
  position:absolute;
  left:269px;
  top:223px;
  width:70px;
  height:16px;
  display:flex;
}
#u4771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4772 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:223px;
  width:70px;
  height:16px;
  display:flex;
}
#u4772 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4773_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4773 {
  border-width:0px;
  position:absolute;
  left:461px;
  top:223px;
  width:73px;
  height:16px;
  display:flex;
}
#u4773 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4773_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4774 {
  border-width:0px;
  position:absolute;
  left:543px;
  top:223px;
  width:44px;
  height:16px;
  display:flex;
}
#u4774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4775_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4775 {
  border-width:0px;
  position:absolute;
  left:627px;
  top:223px;
  width:73px;
  height:16px;
  display:flex;
}
#u4775 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4775_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4776_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4776 {
  border-width:0px;
  position:absolute;
  left:709px;
  top:223px;
  width:134px;
  height:16px;
  display:flex;
}
#u4776 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4776_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4777_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u4777 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:299px;
  width:900px;
  height:1px;
  display:flex;
}
#u4777 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4777_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4778 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4779 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:377px;
  width:836px;
  height:235px;
}
#u4780_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
}
#u4780 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:35px;
  display:flex;
}
#u4780 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4780_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4781_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:35px;
}
#u4781 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:0px;
  width:90px;
  height:35px;
  display:flex;
}
#u4781 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4781_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4782_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u4782 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:0px;
  width:80px;
  height:35px;
  display:flex;
}
#u4782 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4782_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4783_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:35px;
}
#u4783 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:0px;
  width:80px;
  height:35px;
  display:flex;
}
#u4783 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4783_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4784_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u4784 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:0px;
  width:120px;
  height:35px;
  display:flex;
}
#u4784 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4784_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4785_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u4785 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:0px;
  width:150px;
  height:35px;
  display:flex;
}
#u4785 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4785_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4786_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:35px;
}
#u4786 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:0px;
  width:150px;
  height:35px;
  display:flex;
}
#u4786 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4786_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4787_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:35px;
}
#u4787 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:0px;
  width:120px;
  height:35px;
  display:flex;
}
#u4787 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4787_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4788_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4788 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:35px;
  width:44px;
  height:40px;
  display:flex;
}
#u4788 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4788_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4789_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4789 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:35px;
  width:90px;
  height:40px;
  display:flex;
}
#u4789 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4789_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4790_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4790 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:35px;
  width:80px;
  height:40px;
  display:flex;
}
#u4790 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4790_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4791_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4791 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:35px;
  width:80px;
  height:40px;
  display:flex;
}
#u4791 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4791_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4792_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4792 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:35px;
  width:120px;
  height:40px;
  display:flex;
}
#u4792 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4792_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4793_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4793 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:35px;
  width:150px;
  height:40px;
  display:flex;
}
#u4793 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4793_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4794_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4794 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:35px;
  width:150px;
  height:40px;
  display:flex;
}
#u4794 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4794_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4795_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4795 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:35px;
  width:120px;
  height:40px;
  display:flex;
}
#u4795 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4795_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4796_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4796 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:75px;
  width:44px;
  height:40px;
  display:flex;
}
#u4796 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4796_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4797_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4797 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:75px;
  width:90px;
  height:40px;
  display:flex;
}
#u4797 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4797_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4798_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4798 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:75px;
  width:80px;
  height:40px;
  display:flex;
}
#u4798 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4798_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4799_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4799 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:75px;
  width:80px;
  height:40px;
  display:flex;
}
#u4799 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4799_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4800_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4800 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:75px;
  width:120px;
  height:40px;
  display:flex;
}
#u4800 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4800_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4801_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4801 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:75px;
  width:150px;
  height:40px;
  display:flex;
}
#u4801 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4801_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4802_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4802 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:75px;
  width:150px;
  height:40px;
  display:flex;
}
#u4802 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4802_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4803_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4803 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:75px;
  width:120px;
  height:40px;
  display:flex;
}
#u4803 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4803_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4804_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4804 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:115px;
  width:44px;
  height:40px;
  display:flex;
}
#u4804 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4804_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4805_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4805 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:115px;
  width:90px;
  height:40px;
  display:flex;
}
#u4805 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4805_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4806_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4806 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:115px;
  width:80px;
  height:40px;
  display:flex;
}
#u4806 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4806_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4807_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4807 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:115px;
  width:80px;
  height:40px;
  display:flex;
}
#u4807 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4807_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4808_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4808 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:115px;
  width:120px;
  height:40px;
  display:flex;
}
#u4808 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4808_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4809_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4809 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:115px;
  width:150px;
  height:40px;
  display:flex;
}
#u4809 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4809_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4810_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4810 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:115px;
  width:150px;
  height:40px;
  display:flex;
}
#u4810 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4810_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4811_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4811 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:115px;
  width:120px;
  height:40px;
  display:flex;
}
#u4811 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4811_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4812_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4812 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:155px;
  width:44px;
  height:40px;
  display:flex;
}
#u4812 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4812_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4813_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4813 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:155px;
  width:90px;
  height:40px;
  display:flex;
}
#u4813 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4813_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4814_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4814 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:155px;
  width:80px;
  height:40px;
  display:flex;
}
#u4814 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4814_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4815_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4815 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:155px;
  width:80px;
  height:40px;
  display:flex;
}
#u4815 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4815_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4816_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4816 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:155px;
  width:120px;
  height:40px;
  display:flex;
}
#u4816 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4816_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4817_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4817 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:155px;
  width:150px;
  height:40px;
  display:flex;
}
#u4817 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4817_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4818_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4818 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:155px;
  width:150px;
  height:40px;
  display:flex;
}
#u4818 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4818_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4819_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4819 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:155px;
  width:120px;
  height:40px;
  display:flex;
}
#u4819 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4819_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4820_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:40px;
}
#u4820 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:195px;
  width:44px;
  height:40px;
  display:flex;
}
#u4820 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4820_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4821_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:40px;
}
#u4821 {
  border-width:0px;
  position:absolute;
  left:44px;
  top:195px;
  width:90px;
  height:40px;
  display:flex;
}
#u4821 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4821_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4822_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4822 {
  border-width:0px;
  position:absolute;
  left:134px;
  top:195px;
  width:80px;
  height:40px;
  display:flex;
}
#u4822 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4822_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4823_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u4823 {
  border-width:0px;
  position:absolute;
  left:214px;
  top:195px;
  width:80px;
  height:40px;
  display:flex;
}
#u4823 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4823_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4824_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4824 {
  border-width:0px;
  position:absolute;
  left:294px;
  top:195px;
  width:120px;
  height:40px;
  display:flex;
}
#u4824 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4824_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4825_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4825 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:195px;
  width:150px;
  height:40px;
  display:flex;
}
#u4825 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4825_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4826_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u4826 {
  border-width:0px;
  position:absolute;
  left:564px;
  top:195px;
  width:150px;
  height:40px;
  display:flex;
}
#u4826 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4826_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4827_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u4827 {
  border-width:0px;
  position:absolute;
  left:714px;
  top:195px;
  width:120px;
  height:40px;
  display:flex;
}
#u4827 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4827_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4828 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4829_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:79px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4829 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:325px;
  width:79px;
  height:16px;
  display:flex;
}
#u4829 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4829_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4830 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4831_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u4831 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:318px;
  width:80px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u4831 .text {
  position:absolute;
  align-self:center;
  padding:1px 0px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4831_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4832_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:15px;
  height:15px;
}
#u4832 {
  border-width:0px;
  position:absolute;
  left:303px;
  top:325px;
  width:15px;
  height:15px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u4832 .text {
  position:absolute;
  align-self:center;
  padding:1px 0px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4832_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4833_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4833_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u4833_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833 {
  border-width:0px;
  position:absolute;
  left:115px;
  top:321px;
  width:150px;
  height:25px;
  display:flex;
}
#u4833 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4833_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4833.disabled {
}
.u4833_input_option {
}
#u4834_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4834 {
  border-width:0px;
  position:absolute;
  left:46px;
  top:632px;
  width:145px;
  height:16px;
  display:flex;
}
#u4834 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4834_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4835_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4835 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:417px;
  width:60px;
  height:30px;
  display:flex;
  font-size:15px;
}
#u4835 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4835_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4836_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4836 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:457px;
  width:60px;
  height:30px;
  display:flex;
  font-size:15px;
}
#u4836 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4836_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4837_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4837 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:498px;
  width:60px;
  height:30px;
  display:flex;
  font-size:15px;
}
#u4837 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4837_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4838_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4838 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:538px;
  width:60px;
  height:30px;
  display:flex;
  font-size:15px;
}
#u4838 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4838_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4839_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
}
#u4839 {
  border-width:0px;
  position:absolute;
  left:791px;
  top:577px;
  width:60px;
  height:30px;
  display:flex;
  font-size:15px;
}
#u4839 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4839_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4840 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4841_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u4841 {
  border-width:0px;
  position:absolute;
  left:324px;
  top:632px;
  width:53px;
  height:25px;
  display:flex;
}
#u4841 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4841_img.mouseOver {
}
#u4841.mouseOver {
}
#u4841_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4842_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u4842 {
  border-width:0px;
  position:absolute;
  left:384px;
  top:632px;
  width:43px;
  height:25px;
  display:flex;
}
#u4842 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4842_img.mouseOver {
}
#u4842.mouseOver {
}
#u4842_img.selected {
}
#u4842.selected {
}
#u4842_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4843_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u4843 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:632px;
  width:43px;
  height:25px;
  display:flex;
}
#u4843 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4843_img.mouseOver {
}
#u4843.mouseOver {
}
#u4843_img.selected {
}
#u4843.selected {
}
#u4843_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4844_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u4844 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:632px;
  width:43px;
  height:25px;
  display:flex;
}
#u4844 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4844_img.mouseOver {
}
#u4844.mouseOver {
}
#u4844_img.selected {
}
#u4844.selected {
}
#u4844_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4845_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u4845 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:632px;
  width:53px;
  height:25px;
  display:flex;
}
#u4845 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4845_img.mouseOver {
}
#u4845.mouseOver {
}
#u4845_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
