body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-10px;
  width:980px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u10222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:980px;
  height:653px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u10222 {
  border-width:0px;
  position:absolute;
  left:10px;
  top:12px;
  width:980px;
  height:653px;
  display:flex;
}
#u10222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10223 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u10223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u10223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u10224 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10225 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:337px;
  width:910px;
  height:190px;
}
#u10226_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u10226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u10226 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10226_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10227_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10227 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u10227 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10227_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10228_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10228 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u10228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10229_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10229 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u10229 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10229_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10230_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10230 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u10230 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10230_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10231_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10231 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u10231 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10231_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10232_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u10232 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u10232 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10232_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10233_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u10233 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:0px;
  width:60px;
  height:30px;
  display:flex;
}
#u10233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10234 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u10234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10235_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u10235 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u10235 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10235_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10236_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u10236 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u10236 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10236_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10237_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u10237 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:0px;
  width:60px;
  height:30px;
  display:flex;
}
#u10237 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10237_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10238_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u10238 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u10238 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10238_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10239_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10239 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u10239 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10239_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10240_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10240 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u10240 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10240_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10241_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10241 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u10241 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10241_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10242_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10242 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u10242 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10242_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10243_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10243 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u10243 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10243_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10244_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10244 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u10244 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10244_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10245_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10245 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:30px;
  width:60px;
  height:40px;
  display:flex;
}
#u10245 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10245_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10246_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10246 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u10246 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10246_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10247_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10247 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u10247 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10247_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10248_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10248 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u10248 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10248_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10249_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10249 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:30px;
  width:60px;
  height:40px;
  display:flex;
}
#u10249 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10249_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10250_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u10250 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u10250 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10250_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10251_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10251 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u10251 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10251_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10252_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10252 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u10252 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10252_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10253_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10253 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u10253 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10253_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10254_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10254 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u10254 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10254_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10255_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10255 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u10255 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10255_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10256_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10256 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u10256 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10256_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10257_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10257 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:70px;
  width:60px;
  height:40px;
  display:flex;
}
#u10257 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10257_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10258_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10258 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u10258 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10258_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10259_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10259 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u10259 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10259_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10260_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10260 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u10260 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10260_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10261_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10261 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:70px;
  width:60px;
  height:40px;
  display:flex;
}
#u10261 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10261_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10262_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u10262 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:40px;
  display:flex;
}
#u10262 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10262_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10263_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10263 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u10263 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10263_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10264_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10264 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u10264 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10264_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10265_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10265 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u10265 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10265_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10266_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10266 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u10266 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10266_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10267_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10267 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u10267 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10267_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10268_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10268 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u10268 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10268_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10269_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10269 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:110px;
  width:60px;
  height:40px;
  display:flex;
}
#u10269 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10269_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10270_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10270 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u10270 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10270_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10271_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10271 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u10271 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10271_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10272_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10272 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u10272 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10272_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10273_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10273 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:110px;
  width:60px;
  height:40px;
  display:flex;
}
#u10273 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10273_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10274_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u10274 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:40px;
  display:flex;
}
#u10274 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10274_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10275_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10275 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u10275 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10275_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10276_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10276 {
  border-width:0px;
  position:absolute;
  left:130px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u10276 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10276_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10277_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10277 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u10277 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10277_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10278_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10278 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u10278 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10278_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10279_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10279 {
  border-width:0px;
  position:absolute;
  left:370px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u10279 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10279_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10280_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u10280 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u10280 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10280_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10281_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10281 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:150px;
  width:60px;
  height:40px;
  display:flex;
}
#u10281 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10281_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10282_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10282 {
  border-width:0px;
  position:absolute;
  left:610px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u10282 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10282_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10283_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u10283 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u10283 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10283_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10284_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u10284 {
  border-width:0px;
  position:absolute;
  left:750px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u10284 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10284_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10285_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:40px;
}
#u10285 {
  border-width:0px;
  position:absolute;
  left:850px;
  top:150px;
  width:60px;
  height:40px;
  display:flex;
}
#u10285 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10285_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10286 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:298px;
  width:910px;
  height:40px;
}
#u10287_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10287 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
}
#u10287 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10287_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10288_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u10288 {
  border-width:0px;
  position:absolute;
  left:120px;
  top:0px;
  width:335px;
  height:40px;
  display:flex;
}
#u10288 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10288_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10289_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u10289 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:0px;
  width:120px;
  height:40px;
  display:flex;
}
#u10289 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10289_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10290_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
}
#u10290 {
  border-width:0px;
  position:absolute;
  left:575px;
  top:0px;
  width:335px;
  height:40px;
  display:flex;
}
#u10290 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10290_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10291_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:35px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u10291 {
  border-width:0px;
  position:absolute;
  left:907px;
  top:374px;
  width:35px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u10291 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10291_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10292 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10293_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u10293 {
  border-width:0px;
  position:absolute;
  left:375px;
  top:552px;
  width:53px;
  height:25px;
  display:flex;
}
#u10293 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10293_img.mouseOver {
}
#u10293.mouseOver {
}
#u10293_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10294_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u10294 {
  border-width:0px;
  position:absolute;
  left:435px;
  top:552px;
  width:43px;
  height:25px;
  display:flex;
}
#u10294 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10294_img.mouseOver {
}
#u10294.mouseOver {
}
#u10294_img.selected {
}
#u10294.selected {
}
#u10294_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10295_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u10295 {
  border-width:0px;
  position:absolute;
  left:478px;
  top:552px;
  width:43px;
  height:25px;
  display:flex;
}
#u10295 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10295_img.mouseOver {
}
#u10295.mouseOver {
}
#u10295_img.selected {
}
#u10295.selected {
}
#u10295_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10296_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u10296 {
  border-width:0px;
  position:absolute;
  left:521px;
  top:552px;
  width:43px;
  height:25px;
  display:flex;
}
#u10296 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10296_img.mouseOver {
}
#u10296.mouseOver {
}
#u10296_img.selected {
}
#u10296.selected {
}
#u10296_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10297_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u10297 {
  border-width:0px;
  position:absolute;
  left:572px;
  top:552px;
  width:53px;
  height:25px;
  display:flex;
}
#u10297 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10297_img.mouseOver {
}
#u10297.mouseOver {
}
#u10297_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10298 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u10299 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:910px;
  height:120px;
}
#u10300_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10300 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
  display:flex;
}
#u10300 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10300_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10301_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10301 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:0px;
  width:122px;
  height:40px;
  display:flex;
}
#u10301 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10301_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10302_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10302 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:0px;
  width:81px;
  height:40px;
  display:flex;
}
#u10302 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10302_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10303_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10303 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:0px;
  width:122px;
  height:40px;
  display:flex;
}
#u10303 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10303_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10304_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10304 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:0px;
  width:81px;
  height:40px;
  display:flex;
}
#u10304 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10304_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10305_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10305 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:0px;
  width:122px;
  height:40px;
  display:flex;
}
#u10305 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10305_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10306_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10306 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:0px;
  width:81px;
  height:40px;
  display:flex;
}
#u10306 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10306_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10307_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u10307 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:0px;
  width:220px;
  height:40px;
  display:flex;
}
#u10307 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10307_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u10308_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10308 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:40px;
  width:81px;
  height:40px;
  display:flex;
}
#u10308 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10308_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10309_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10309 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:40px;
  width:122px;
  height:40px;
  display:flex;
}
#u10309 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10309_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10310_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10310 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:40px;
  width:81px;
  height:40px;
  display:flex;
}
#u10310 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10310_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10311_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10311 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:40px;
  width:122px;
  height:40px;
  display:flex;
}
#u10311 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10311_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10312_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10312 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:40px;
  width:81px;
  height:40px;
  display:flex;
}
#u10312 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10312_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10313_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10313 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:40px;
  width:122px;
  height:40px;
  display:flex;
}
#u10313 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10313_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10314_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10314 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:40px;
  width:81px;
  height:40px;
  display:flex;
}
#u10314 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10314_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10315_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u10315 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:40px;
  width:220px;
  height:40px;
  display:flex;
}
#u10315 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10315_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10316_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10316 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:80px;
  width:81px;
  height:40px;
  display:flex;
}
#u10316 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10316_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10317_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10317 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:80px;
  width:122px;
  height:40px;
  display:flex;
}
#u10317 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10317_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10318_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10318 {
  border-width:0px;
  position:absolute;
  left:203px;
  top:80px;
  width:81px;
  height:40px;
  display:flex;
}
#u10318 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10318_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10319_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10319 {
  border-width:0px;
  position:absolute;
  left:284px;
  top:80px;
  width:122px;
  height:40px;
  display:flex;
}
#u10319 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10319_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10320_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10320 {
  border-width:0px;
  position:absolute;
  left:406px;
  top:80px;
  width:81px;
  height:40px;
  display:flex;
}
#u10320 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10320_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10321_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:122px;
  height:40px;
}
#u10321 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:80px;
  width:122px;
  height:40px;
  display:flex;
}
#u10321 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10321_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10322_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:40px;
}
#u10322 {
  border-width:0px;
  position:absolute;
  left:609px;
  top:80px;
  width:81px;
  height:40px;
  display:flex;
}
#u10322 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10322_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10323_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:220px;
  height:40px;
}
#u10323 {
  border-width:0px;
  position:absolute;
  left:690px;
  top:80px;
  width:220px;
  height:40px;
  display:flex;
}
#u10323 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10323_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10324_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10324 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:910px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10324 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10324_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10325_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:910px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10325 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:258px;
  width:910px;
  height:40px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
}
#u10325 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10325_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u10326_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u10326 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:50px;
  width:80px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u10326 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u10326_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
