body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:880px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:880px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u15141 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:880px;
  height:544px;
  display:flex;
}
#u15141 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15141_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15142 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15143 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15144_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15144_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15144_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15144 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:200px;
  height:25px;
  display:flex;
}
#u15144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15144_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15144.disabled {
}
#u15145_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15145_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15145_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15145 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15145 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15145_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15145.disabled {
}
.u15145_input_option {
}
#u15146_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15146_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15146 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15146 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15146_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15146.disabled {
}
.u15146_input_option {
}
#u15147 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u15148 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:118px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u15148 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15148_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15149_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15149 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:126px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15149 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15149_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u15150 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:118px;
  width:80px;
  height:30px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u15150 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15150_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:35px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u15151 {
  border-width:0px;
  position:absolute;
  left:765px;
  top:50px;
  width:100px;
  height:35px;
  display:flex;
  font-size:18px;
}
#u15151 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15151_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15152 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:820px;
  height:310px;
}
#u15153_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u15153 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u15153 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15153_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15154_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15154 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15154 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15154_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15155_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15155 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15155 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15155_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15156_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15156 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15156 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15156_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15157_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15157 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u15157 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15157_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15158 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15159_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u15159 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u15159 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15159_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15160_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15160 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15160 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15160_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15161_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15161 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u15161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15162_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15162 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15162 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15162_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15163 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15164 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15165 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u15165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15166_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15166 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15166 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15166_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15167 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u15167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15168 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15169 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u15169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15170 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15171 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15172_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15172 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15172 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15173 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u15173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15174 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15175 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u15175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15176 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u15177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:39px;
  display:flex;
}
#u15177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15178 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15179 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15180 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u15181 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:110px;
  width:80px;
  height:39px;
  display:flex;
}
#u15181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15182 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:39px;
}
#u15183 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:110px;
  width:140px;
  height:39px;
  display:flex;
}
#u15183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15184 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:50px;
  height:40px;
  display:flex;
}
#u15185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15186 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15187 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15188 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15189 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:149px;
  width:80px;
  height:40px;
  display:flex;
}
#u15189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15190 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15191 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:149px;
  width:140px;
  height:40px;
  display:flex;
}
#u15191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15192 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u15193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:50px;
  height:41px;
  display:flex;
}
#u15193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15194 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15195 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15196 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u15197 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:189px;
  width:80px;
  height:41px;
  display:flex;
}
#u15197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15198 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
}
#u15199 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:189px;
  width:140px;
  height:41px;
  display:flex;
}
#u15199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15200 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:50px;
  height:40px;
  display:flex;
}
#u15201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15202 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15203 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15204 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15205 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u15205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15206 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15207 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:230px;
  width:140px;
  height:40px;
  display:flex;
}
#u15207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15208 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:50px;
  height:40px;
  display:flex;
}
#u15209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15210 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15211 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15212 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15213 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:270px;
  width:80px;
  height:40px;
  display:flex;
}
#u15213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15214 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15215 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:270px;
  width:140px;
  height:40px;
  display:flex;
}
#u15215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15216 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15217 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15218_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15218 {
  border-width:0px;
  position:absolute;
  left:318px;
  top:498px;
  width:53px;
  height:25px;
  display:flex;
}
#u15218 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15218_img.mouseOver {
}
#u15218.mouseOver {
}
#u15218_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15219_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15219 {
  border-width:0px;
  position:absolute;
  left:378px;
  top:498px;
  width:43px;
  height:25px;
  display:flex;
}
#u15219 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15219_img.mouseOver {
}
#u15219.mouseOver {
}
#u15219_img.selected {
}
#u15219.selected {
}
#u15219_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15220_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15220 {
  border-width:0px;
  position:absolute;
  left:421px;
  top:498px;
  width:43px;
  height:25px;
  display:flex;
}
#u15220 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15220_img.mouseOver {
}
#u15220.mouseOver {
}
#u15220_img.selected {
}
#u15220.selected {
}
#u15220_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15221_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15221 {
  border-width:0px;
  position:absolute;
  left:464px;
  top:498px;
  width:43px;
  height:25px;
  display:flex;
}
#u15221 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15221_img.mouseOver {
}
#u15221.mouseOver {
}
#u15221_img.selected {
}
#u15221.selected {
}
#u15221_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15222_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15222 {
  border-width:0px;
  position:absolute;
  left:515px;
  top:498px;
  width:53px;
  height:25px;
  display:flex;
}
#u15222 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15222_img.mouseOver {
}
#u15222.mouseOver {
}
#u15222_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
