body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:866px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u13347_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:866px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u13347 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:24px;
  width:866px;
  height:521px;
  display:flex;
}
#u13347 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13347_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13348_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:174px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13348 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:174px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u13348 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u13348_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u13349 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:810px;
  height:270px;
}
#u13350_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u13350 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u13350 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13350_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13351_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u13351 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u13351 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13351_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13352_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u13352 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u13352 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13352_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13353_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13353 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u13353 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13353_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13354_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13354 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u13354 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13354_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13355_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u13355 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u13355 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13355_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13356_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13356 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u13356 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13356_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13357_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u13357 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u13357 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13357_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13358_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13358 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u13358 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13358_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13359_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13359 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:120px;
  height:40px;
  display:flex;
}
#u13359 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13359_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13360_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13360 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u13360 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13360_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13361_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13361 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u13361 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13361_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13362_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13362 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u13362 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13362_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13363_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13363 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u13363 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13363_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13364_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13364 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u13364 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13364_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13365_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13365 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u13365 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13365_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13366_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13366 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u13366 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13366_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13367_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13367 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
}
#u13367 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13367_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13368_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13368 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u13368 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13368_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13369_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13369 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u13369 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13369_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13370 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u13370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13371_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13371 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u13371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13372_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13372 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u13372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13373_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13373 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u13373 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13374_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13374 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:40px;
  display:flex;
}
#u13374 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13374_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13375_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13375 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
}
#u13375 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13375_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13376_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13376 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u13376 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13376_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13377_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13377 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u13377 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13377_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13378_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13378 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u13378 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13378_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13379_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13379 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u13379 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13379_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13380_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13380 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:110px;
  width:150px;
  height:40px;
  display:flex;
}
#u13380 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13380_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13381_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13381 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:110px;
  width:150px;
  height:40px;
  display:flex;
}
#u13381 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13381_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13382_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13382 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:40px;
  display:flex;
}
#u13382 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13382_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13383_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13383 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:120px;
  height:40px;
  display:flex;
}
#u13383 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13383_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13384_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13384 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u13384 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13384_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13385_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13385 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u13385 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13385_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13386_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13386 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u13386 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13386_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13387_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13387 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u13387 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13387_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13388_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13388 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:150px;
  width:150px;
  height:40px;
  display:flex;
}
#u13388 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13388_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13389_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13389 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:150px;
  width:150px;
  height:40px;
  display:flex;
}
#u13389 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13389_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13390_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13390 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:50px;
  height:40px;
  display:flex;
}
#u13390 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13390_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13391_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13391 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:190px;
  width:120px;
  height:40px;
  display:flex;
}
#u13391 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13391_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13392_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13392 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u13392 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13392_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13393_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13393 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u13393 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13393_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13394_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13394 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u13394 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13394_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13395_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13395 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u13395 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13395_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13396_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13396 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:190px;
  width:150px;
  height:40px;
  display:flex;
}
#u13396 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13396_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13397_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13397 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:190px;
  width:150px;
  height:40px;
  display:flex;
}
#u13397 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13397_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13398_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u13398 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:50px;
  height:40px;
  display:flex;
}
#u13398 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13398_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13399_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u13399 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:230px;
  width:120px;
  height:40px;
  display:flex;
}
#u13399 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13399_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13400_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u13400 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u13400 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13400_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13401_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13401 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u13401 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13401_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13402_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13402 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u13402 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13402_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13403_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u13403 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u13403 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13403_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13404_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13404 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u13404 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13404_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13405_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u13405 {
  border-width:0px;
  position:absolute;
  left:660px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u13405 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13405_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13406 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13407_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13407_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13407_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13407 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u13407 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13407_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13407.disabled {
}
#u13408_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13408_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13408_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13408 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u13408 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13408_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13408.disabled {
}
.u13408_input_option {
}
#u13409_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13409_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13409_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13409 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u13409 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13409_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13409.disabled {
}
.u13409_input_option {
}
#u13410_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13410_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u13410_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13410 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u13410 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13410_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13410.disabled {
}
.u13410_input_option {
}
#u13411 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13412_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u13412 {
  border-width:0px;
  position:absolute;
  left:705px;
  top:123px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u13412 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13412_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13413_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u13413 {
  border-width:0px;
  position:absolute;
  left:711px;
  top:131px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u13413 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13413_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u13414_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13414 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:123px;
  width:70px;
  height:30px;
  display:flex;
}
#u13414 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13414_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13415 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u13416_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u13416 {
  border-width:0px;
  position:absolute;
  left:325px;
  top:451px;
  width:53px;
  height:25px;
  display:flex;
}
#u13416 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13416_img.mouseOver {
}
#u13416.mouseOver {
}
#u13416_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13417_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u13417 {
  border-width:0px;
  position:absolute;
  left:385px;
  top:451px;
  width:43px;
  height:25px;
  display:flex;
}
#u13417 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13417_img.mouseOver {
}
#u13417.mouseOver {
}
#u13417_img.selected {
}
#u13417.selected {
}
#u13417_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13418_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u13418 {
  border-width:0px;
  position:absolute;
  left:428px;
  top:451px;
  width:43px;
  height:25px;
  display:flex;
}
#u13418 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13418_img.mouseOver {
}
#u13418.mouseOver {
}
#u13418_img.selected {
}
#u13418.selected {
}
#u13418_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13419_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u13419 {
  border-width:0px;
  position:absolute;
  left:471px;
  top:451px;
  width:43px;
  height:25px;
  display:flex;
}
#u13419 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13419_img.mouseOver {
}
#u13419.mouseOver {
}
#u13419_img.selected {
}
#u13419.selected {
}
#u13419_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u13420_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u13420 {
  border-width:0px;
  position:absolute;
  left:522px;
  top:451px;
  width:53px;
  height:25px;
  display:flex;
}
#u13420 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u13420_img.mouseOver {
}
#u13420.mouseOver {
}
#u13420_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
