body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-15px;
  width:981px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u15668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:981px;
  height:544px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u15668 {
  border-width:0px;
  position:absolute;
  left:15px;
  top:24px;
  width:981px;
  height:544px;
  display:flex;
}
#u15668 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15668_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15669 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u15669 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u15669_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u15670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15671_input {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15671_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15671 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:200px;
  height:25px;
  display:flex;
}
#u15671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15671_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15671.disabled {
}
#u15672_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15672_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15672 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15672 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15672_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15672.disabled {
}
.u15672_input_option {
}
#u15673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15673_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u15673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15673 {
  border-width:0px;
  position:absolute;
  left:395px;
  top:123px;
  width:120px;
  height:25px;
  display:flex;
}
#u15673 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15673_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u15673.disabled {
}
.u15673_input_option {
}
#u15674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u15675 {
  border-width:0px;
  position:absolute;
  left:555px;
  top:118px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u15675 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u15676 {
  border-width:0px;
  position:absolute;
  left:561px;
  top:126px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u15676 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u15677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:15px;
  color:#000000;
}
#u15677 {
  border-width:0px;
  position:absolute;
  left:635px;
  top:118px;
  width:80px;
  height:30px;
  display:flex;
  font-size:15px;
  color:#000000;
}
#u15677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15678 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:921px;
  height:310px;
}
#u15679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u15679 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u15679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15680_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u15680 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u15680 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15681_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15681 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15681 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15681_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15682 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15682 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u15683 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u15683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15684 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15685_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15685 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15686_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u15686 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u15686 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15686_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u15687 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u15687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15688 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u15688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15689 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u15689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15690 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15691 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15692 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u15692 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15693 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15694_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15694 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15695_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15695 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u15695 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15695_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15696_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15696 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u15696 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15696_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15697_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u15697 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15697_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15698_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15698 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u15698 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15698_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15699_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15699 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15699 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15699_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15700_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15700 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15700 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15700_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15701_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15701 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u15701 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15701_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15702_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15702 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15702 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15702_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15703_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15703 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15703 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15703_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15704_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15704 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u15704 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15704_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15705_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15705 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u15705 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15705_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15706_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:39px;
}
#u15706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:39px;
  display:flex;
}
#u15706 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15706_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15707_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:39px;
}
#u15707 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:150px;
  height:39px;
  display:flex;
}
#u15707 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15707_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15708_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15708 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15708 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15708_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15709_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15709 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15709 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15709_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15710_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:39px;
}
#u15710 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:110px;
  width:80px;
  height:39px;
  display:flex;
}
#u15710 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15710_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15711_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15711 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15711 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15711_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15712_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15712 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15712 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15712_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15713_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:39px;
}
#u15713 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:110px;
  width:100px;
  height:39px;
  display:flex;
}
#u15713 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15714_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:39px;
}
#u15714 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:110px;
  width:140px;
  height:39px;
  display:flex;
}
#u15714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15715_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:149px;
  width:50px;
  height:40px;
  display:flex;
}
#u15715 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15715_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15716_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15716 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:149px;
  width:150px;
  height:40px;
  display:flex;
}
#u15716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15717_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15717 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15717 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15718_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15718 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15718 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15718_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15719 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:149px;
  width:80px;
  height:40px;
  display:flex;
}
#u15719 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15720 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15721_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15721 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15722_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15722 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:149px;
  width:100px;
  height:40px;
  display:flex;
}
#u15722 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15722_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15723_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15723 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:149px;
  width:140px;
  height:40px;
  display:flex;
}
#u15723 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15723_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:41px;
}
#u15724 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:189px;
  width:50px;
  height:41px;
  display:flex;
}
#u15724 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:41px;
}
#u15725 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:189px;
  width:150px;
  height:41px;
  display:flex;
}
#u15725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15726_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15726 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15727_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15727 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15727 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15727_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15728_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:41px;
}
#u15728 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:189px;
  width:80px;
  height:41px;
  display:flex;
}
#u15728 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15728_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15729 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15729 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15730 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15731_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:41px;
}
#u15731 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:189px;
  width:100px;
  height:41px;
  display:flex;
}
#u15731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15732_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:41px;
}
#u15732 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:189px;
  width:140px;
  height:41px;
  display:flex;
}
#u15732 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15732_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15733_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:50px;
  height:40px;
  display:flex;
}
#u15733 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15733_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15734 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u15734 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15735 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15736_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15736 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15737_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15737 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u15737 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15737_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15738_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15738 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15739_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15739 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15740_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15740 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u15740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15741_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15741 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:230px;
  width:140px;
  height:40px;
  display:flex;
}
#u15741 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15741_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15742_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u15742 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:50px;
  height:40px;
  display:flex;
}
#u15742 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15742_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15743_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u15743 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:270px;
  width:150px;
  height:40px;
  display:flex;
}
#u15743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15744_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15744 {
  border-width:0px;
  position:absolute;
  left:200px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15744 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15744_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15745_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15745 {
  border-width:0px;
  position:absolute;
  left:300px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15746_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u15746 {
  border-width:0px;
  position:absolute;
  left:400px;
  top:270px;
  width:80px;
  height:40px;
  display:flex;
}
#u15746 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15746_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15747_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15747 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15748_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15748 {
  border-width:0px;
  position:absolute;
  left:580px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15749_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u15749 {
  border-width:0px;
  position:absolute;
  left:680px;
  top:270px;
  width:100px;
  height:40px;
  display:flex;
}
#u15749 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15749_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15750_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u15750 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:270px;
  width:140px;
  height:40px;
  display:flex;
}
#u15750 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15750_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15751 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u15752_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15752 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:499px;
  width:53px;
  height:25px;
  display:flex;
}
#u15752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15752_img.mouseOver {
}
#u15752.mouseOver {
}
#u15752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15753_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15753 {
  border-width:0px;
  position:absolute;
  left:441px;
  top:499px;
  width:43px;
  height:25px;
  display:flex;
}
#u15753 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15753_img.mouseOver {
}
#u15753.mouseOver {
}
#u15753_img.selected {
}
#u15753.selected {
}
#u15753_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15754_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15754 {
  border-width:0px;
  position:absolute;
  left:484px;
  top:499px;
  width:43px;
  height:25px;
  display:flex;
}
#u15754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15754_img.mouseOver {
}
#u15754.mouseOver {
}
#u15754_img.selected {
}
#u15754.selected {
}
#u15754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15755_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u15755 {
  border-width:0px;
  position:absolute;
  left:527px;
  top:499px;
  width:43px;
  height:25px;
  display:flex;
}
#u15755 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15755_img.mouseOver {
}
#u15755.mouseOver {
}
#u15755_img.selected {
}
#u15755.selected {
}
#u15755_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u15756_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u15756 {
  border-width:0px;
  position:absolute;
  left:578px;
  top:499px;
  width:53px;
  height:25px;
  display:flex;
}
#u15756 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u15756_img.mouseOver {
}
#u15756.mouseOver {
}
#u15756_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
