body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-21px;
  width:874px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u11609_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:874px;
  height:543px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u11609 {
  border-width:0px;
  position:absolute;
  left:21px;
  top:28px;
  width:874px;
  height:543px;
  display:flex;
}
#u11609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11610_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11610 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u11610 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11610_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11611 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11612 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:196px;
  width:825px;
  height:270px;
}
#u11613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
}
#u11613 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:30px;
  display:flex;
}
#u11613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11614 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u11614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11615 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u11615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:30px;
}
#u11616 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:0px;
  width:200px;
  height:30px;
  display:flex;
}
#u11616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u11617 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u11617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:30px;
}
#u11618 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:0px;
  width:150px;
  height:30px;
  display:flex;
}
#u11618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u11619 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u11619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11620 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:45px;
  height:40px;
  display:flex;
}
#u11620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11621 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u11621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11622 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u11622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11623 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:30px;
  width:200px;
  height:40px;
  display:flex;
}
#u11623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11624 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u11624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11625 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:30px;
  width:150px;
  height:40px;
  display:flex;
}
#u11625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11626 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u11626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11627 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:45px;
  height:40px;
  display:flex;
}
#u11627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11628 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u11628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11629 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u11629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11630 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:70px;
  width:200px;
  height:40px;
  display:flex;
}
#u11630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11631 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u11631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11632 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:70px;
  width:150px;
  height:40px;
  display:flex;
}
#u11632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11633 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u11633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:45px;
  height:40px;
  display:flex;
}
#u11634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11635 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u11635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11636 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:110px;
  width:150px;
  height:40px;
  display:flex;
}
#u11636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11637 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:110px;
  width:200px;
  height:40px;
  display:flex;
}
#u11637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11638 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u11638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11639 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:110px;
  width:150px;
  height:40px;
  display:flex;
}
#u11639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11640 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u11640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11641 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:45px;
  height:40px;
  display:flex;
}
#u11641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11642 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u11642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11643 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:150px;
  width:150px;
  height:40px;
  display:flex;
}
#u11643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11644 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:150px;
  width:200px;
  height:40px;
  display:flex;
}
#u11644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11645 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u11645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11646 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:150px;
  width:150px;
  height:40px;
  display:flex;
}
#u11646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11647 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u11647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11648 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:45px;
  height:40px;
  display:flex;
}
#u11648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11649 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u11649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11650 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:190px;
  width:150px;
  height:40px;
  display:flex;
}
#u11650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11651 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:190px;
  width:200px;
  height:40px;
  display:flex;
}
#u11651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11652 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u11652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11653 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:190px;
  width:150px;
  height:40px;
  display:flex;
}
#u11653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11654 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u11654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:45px;
  height:40px;
}
#u11655 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:45px;
  height:40px;
  display:flex;
}
#u11655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11656 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u11656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11657 {
  border-width:0px;
  position:absolute;
  left:145px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u11657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:40px;
}
#u11658 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:230px;
  width:200px;
  height:40px;
  display:flex;
}
#u11658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u11659 {
  border-width:0px;
  position:absolute;
  left:495px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u11659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:40px;
}
#u11660 {
  border-width:0px;
  position:absolute;
  left:595px;
  top:230px;
  width:150px;
  height:40px;
  display:flex;
}
#u11660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u11661 {
  border-width:0px;
  position:absolute;
  left:745px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u11661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11662 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:237px;
  width:60px;
  height:20px;
  display:flex;
}
#u11662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11663 label {
  left:0px;
  width:100%;
}
#u11663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11663 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:206px;
  width:32px;
  height:16px;
  display:flex;
}
#u11663 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11663_img.selected {
}
#u11663.selected {
}
#u11663_img.disabled {
}
#u11663.disabled {
}
#u11663_img.selectedDisabled {
}
#u11663.selectedDisabled {
}
#u11663_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11663_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11664 label {
  left:0px;
  width:100%;
}
#u11664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11664 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:239px;
  width:32px;
  height:16px;
  display:flex;
}
#u11664 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11664_img.selected {
}
#u11664.selected {
}
#u11664_img.disabled {
}
#u11664.disabled {
}
#u11664_img.selectedDisabled {
}
#u11664.selectedDisabled {
}
#u11664_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11664_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11665 label {
  left:0px;
  width:100%;
}
#u11665_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11665 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:280px;
  width:32px;
  height:16px;
  display:flex;
}
#u11665 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11665_img.selected {
}
#u11665.selected {
}
#u11665_img.disabled {
}
#u11665.disabled {
}
#u11665_img.selectedDisabled {
}
#u11665.selectedDisabled {
}
#u11665_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11665_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11666 label {
  left:0px;
  width:100%;
}
#u11666_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11666 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:320px;
  width:32px;
  height:16px;
  display:flex;
}
#u11666 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11666_img.selected {
}
#u11666.selected {
}
#u11666_img.disabled {
}
#u11666.disabled {
}
#u11666_img.selectedDisabled {
}
#u11666.selectedDisabled {
}
#u11666_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11666_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11667 label {
  left:0px;
  width:100%;
}
#u11667_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11667 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:361px;
  width:32px;
  height:16px;
  display:flex;
}
#u11667 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11667_img.selected {
}
#u11667.selected {
}
#u11667_img.disabled {
}
#u11667.disabled {
}
#u11667_img.selectedDisabled {
}
#u11667.selectedDisabled {
}
#u11667_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11667_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11668 label {
  left:0px;
  width:100%;
}
#u11668_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11668 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:400px;
  width:32px;
  height:16px;
  display:flex;
}
#u11668 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11668_img.selected {
}
#u11668.selected {
}
#u11668_img.disabled {
}
#u11668.disabled {
}
#u11668_img.selectedDisabled {
}
#u11668.selectedDisabled {
}
#u11668_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11668_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11669 label {
  left:0px;
  width:100%;
}
#u11669_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:12px;
}
#u11669 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:440px;
  width:32px;
  height:16px;
  display:flex;
}
#u11669 .text {
  position:absolute;
  align-self:center;
  padding:0px 2px 0px 2px;
  box-sizing:border-box;
}
#u11669_img.selected {
}
#u11669.selected {
}
#u11669_img.disabled {
}
#u11669.disabled {
}
#u11669_img.selectedDisabled {
}
#u11669.selectedDisabled {
}
#u11669_text {
  border-width:0px;
  position:absolute;
  left:14px;
  top:0px;
  width:16px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11669_input {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
  opacity:0;
}
#u11670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11670 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:277px;
  width:60px;
  height:20px;
  display:flex;
}
#u11670 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11671 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:317px;
  width:60px;
  height:20px;
  display:flex;
}
#u11671 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11672 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:357px;
  width:60px;
  height:20px;
  display:flex;
}
#u11672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11673 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:396px;
  width:60px;
  height:20px;
  display:flex;
}
#u11673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11673_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11674_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11674 {
  border-width:0px;
  position:absolute;
  left:800px;
  top:436px;
  width:60px;
  height:20px;
  display:flex;
}
#u11674 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11674_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11675 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:123px;
  width:80px;
  height:30px;
  display:flex;
}
#u11675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:117px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11676 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:170px;
  width:117px;
  height:16px;
  display:flex;
}
#u11676 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11676_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11677 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11678_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11678 {
  border-width:0px;
  position:absolute;
  left:292px;
  top:149px;
  width:56px;
  height:16px;
  display:flex;
}
#u11678 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11678_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11679_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11679_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11679 {
  border-width:0px;
  position:absolute;
  left:356px;
  top:144px;
  width:120px;
  height:25px;
  display:flex;
}
#u11679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11679_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11679.disabled {
}
#u11680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11680 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:149px;
  width:56px;
  height:16px;
  display:flex;
}
#u11680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u11680_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u11681_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11681_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u11681_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11681 {
  border-width:0px;
  position:absolute;
  left:550px;
  top:144px;
  width:120px;
  height:25px;
  display:flex;
}
#u11681 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11681_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11681.disabled {
}
.u11681_input_option {
}
#u11682 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11683_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u11683 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:139px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u11683 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11684_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u11684 {
  border-width:0px;
  position:absolute;
  left:706px;
  top:147px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u11684 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u11685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u11685 {
  border-width:0px;
  position:absolute;
  left:780px;
  top:139px;
  width:80px;
  height:30px;
  display:flex;
}
#u11685 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11685_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u11687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u11687 {
  border-width:0px;
  position:absolute;
  left:333px;
  top:486px;
  width:53px;
  height:25px;
  display:flex;
}
#u11687 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11687_img.mouseOver {
}
#u11687.mouseOver {
}
#u11687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u11688 {
  border-width:0px;
  position:absolute;
  left:393px;
  top:486px;
  width:43px;
  height:25px;
  display:flex;
}
#u11688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11688_img.mouseOver {
}
#u11688.mouseOver {
}
#u11688_img.selected {
}
#u11688.selected {
}
#u11688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11689_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u11689 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:486px;
  width:43px;
  height:25px;
  display:flex;
}
#u11689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11689_img.mouseOver {
}
#u11689.mouseOver {
}
#u11689_img.selected {
}
#u11689.selected {
}
#u11689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11690_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u11690 {
  border-width:0px;
  position:absolute;
  left:479px;
  top:486px;
  width:43px;
  height:25px;
  display:flex;
}
#u11690 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11690_img.mouseOver {
}
#u11690.mouseOver {
}
#u11690_img.selected {
}
#u11690.selected {
}
#u11690_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u11691_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u11691 {
  border-width:0px;
  position:absolute;
  left:530px;
  top:486px;
  width:53px;
  height:25px;
  display:flex;
}
#u11691 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u11691_img.mouseOver {
}
#u11691.mouseOver {
}
#u11691_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
