body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-17px;
  width:1036px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u16591_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1036px;
  height:521px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u16591 {
  border-width:0px;
  position:absolute;
  left:17px;
  top:24px;
  width:1036px;
  height:521px;
  display:flex;
}
#u16591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u16592 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:154px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u16592 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u16592_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u16593 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:163px;
  width:980px;
  height:270px;
}
#u16594_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u16594 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u16594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16595_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u16595 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u16595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16596_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u16596 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u16596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16597_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16597 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u16597 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16598_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16598 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u16598 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16598_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16599_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:30px;
}
#u16599 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:0px;
  width:80px;
  height:30px;
  display:flex;
}
#u16599 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16599_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16600_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u16600 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u16600 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16600_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16601_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u16601 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u16601 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16601_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16602_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u16602 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u16602 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16602_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16603_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u16603 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u16603 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16603_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16604_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16604 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u16604 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16604_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16605_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16605 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:120px;
  height:40px;
  display:flex;
}
#u16605 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16605_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16606_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16606 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u16606 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16606_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16607_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16607 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u16607 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16607_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16608_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16608 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u16608 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16608_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16609_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16609 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:30px;
  width:80px;
  height:40px;
  display:flex;
}
#u16609 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16609_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16610_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16610 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:30px;
  width:120px;
  height:40px;
  display:flex;
}
#u16610 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16610_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16611_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16611 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u16611 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16611_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16612_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16612 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u16612 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16612_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16613_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16613 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u16613 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16613_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16614_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16614 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u16614 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16614_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16615_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16615 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
}
#u16615 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16615_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16616_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16616 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u16616 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16616_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16617_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16617 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u16617 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16617_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16618_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16618 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u16618 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16618_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16619_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16619 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:70px;
  width:80px;
  height:40px;
  display:flex;
}
#u16619 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16619_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16620_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16620 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
}
#u16620 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16620_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16621_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16621 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u16621 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16621_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16622_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16622 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u16622 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16622_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16623_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16623 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u16623 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16623_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16624_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16624 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:40px;
  display:flex;
}
#u16624 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16624_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16625_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16625 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
}
#u16625 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16625_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16626_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16626 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u16626 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16626_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16627_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16627 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u16627 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16627_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16628_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16628 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u16628 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16628_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16629_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16629 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:110px;
  width:80px;
  height:40px;
  display:flex;
}
#u16629 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16629_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16630_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16630 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
}
#u16630 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16630_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16631_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16631 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u16631 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16631_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16632_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16632 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
}
#u16632 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16632_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16633_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16633 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
}
#u16633 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16633_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16634_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16634 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:40px;
  display:flex;
}
#u16634 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16634_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16635_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16635 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:120px;
  height:40px;
  display:flex;
}
#u16635 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16635_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16636_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16636 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u16636 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16636_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16637_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16637 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u16637 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16637_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16638_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16638 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u16638 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16638_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16639_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16639 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:150px;
  width:80px;
  height:40px;
  display:flex;
}
#u16639 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16639_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16640_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16640 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:150px;
  width:120px;
  height:40px;
  display:flex;
}
#u16640 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16640_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16641_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16641 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u16641 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16641_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16642_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16642 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:150px;
  width:140px;
  height:40px;
  display:flex;
}
#u16642 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16642_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16643_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16643 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:150px;
  width:140px;
  height:40px;
  display:flex;
}
#u16643 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16643_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16644_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16644 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:50px;
  height:40px;
  display:flex;
}
#u16644 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16644_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16645_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16645 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:190px;
  width:120px;
  height:40px;
  display:flex;
}
#u16645 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16645_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16646_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16646 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u16646 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16646_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16647_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16647 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u16647 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16647_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16648_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16648 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u16648 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16648_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16649_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16649 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:190px;
  width:80px;
  height:40px;
  display:flex;
}
#u16649 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16649_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16650_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16650 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:190px;
  width:120px;
  height:40px;
  display:flex;
}
#u16650 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16650_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16651_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16651 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:190px;
  width:70px;
  height:40px;
  display:flex;
}
#u16651 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16651_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16652_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16652 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:190px;
  width:140px;
  height:40px;
  display:flex;
}
#u16652 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16652_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16653_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16653 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:190px;
  width:140px;
  height:40px;
  display:flex;
}
#u16653 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16653_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16654_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u16654 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:230px;
  width:50px;
  height:40px;
  display:flex;
}
#u16654 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16654_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16655_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16655 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:230px;
  width:120px;
  height:40px;
  display:flex;
}
#u16655 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16655_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16656_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u16656 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:230px;
  width:100px;
  height:40px;
  display:flex;
}
#u16656 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16656_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16657_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16657 {
  border-width:0px;
  position:absolute;
  left:270px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u16657 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16657_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16658_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16658 {
  border-width:0px;
  position:absolute;
  left:350px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u16658 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16658_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16659_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
}
#u16659 {
  border-width:0px;
  position:absolute;
  left:430px;
  top:230px;
  width:80px;
  height:40px;
  display:flex;
}
#u16659 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16659_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16660_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u16660 {
  border-width:0px;
  position:absolute;
  left:510px;
  top:230px;
  width:120px;
  height:40px;
  display:flex;
}
#u16660 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16660_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16661_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u16661 {
  border-width:0px;
  position:absolute;
  left:630px;
  top:230px;
  width:70px;
  height:40px;
  display:flex;
}
#u16661 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16661_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16662_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16662 {
  border-width:0px;
  position:absolute;
  left:700px;
  top:230px;
  width:140px;
  height:40px;
  display:flex;
}
#u16662 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16662_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16663_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u16663 {
  border-width:0px;
  position:absolute;
  left:840px;
  top:230px;
  width:140px;
  height:40px;
  display:flex;
}
#u16663 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16663_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16664 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16665_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16665_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16665_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16665 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u16665 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16665_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16665.disabled {
}
#u16666_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16666_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16666_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16666 {
  border-width:0px;
  position:absolute;
  left:525px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u16666 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16666_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16666.disabled {
}
.u16666_input_option {
}
#u16667_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16667_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16667 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u16667 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16667_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16667.disabled {
}
.u16667_input_option {
}
#u16668_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16668_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16668_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16668 {
  border-width:0px;
  position:absolute;
  left:685px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u16668 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16668_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16668.disabled {
}
.u16668_input_option {
}
#u16669 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16670_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u16670 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:123px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u16670 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16670_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16671_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u16671 {
  border-width:0px;
  position:absolute;
  left:871px;
  top:131px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u16671 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16671_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u16672_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16672 {
  border-width:0px;
  position:absolute;
  left:940px;
  top:123px;
  width:70px;
  height:30px;
  display:flex;
}
#u16672 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16672_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16673_input {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16673_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u16673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16673 {
  border-width:0px;
  position:absolute;
  left:205px;
  top:128px;
  width:150px;
  height:25px;
  display:flex;
}
#u16673 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16673_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u16673.disabled {
}
#u16674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u16675_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u16675 {
  border-width:0px;
  position:absolute;
  left:410px;
  top:467px;
  width:53px;
  height:25px;
  display:flex;
}
#u16675 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16675_img.mouseOver {
}
#u16675.mouseOver {
}
#u16675_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16676_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u16676 {
  border-width:0px;
  position:absolute;
  left:470px;
  top:467px;
  width:43px;
  height:25px;
  display:flex;
}
#u16676 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16676_img.mouseOver {
}
#u16676.mouseOver {
}
#u16676_img.selected {
}
#u16676.selected {
}
#u16676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16677_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u16677 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:467px;
  width:43px;
  height:25px;
  display:flex;
}
#u16677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16677_img.mouseOver {
}
#u16677.mouseOver {
}
#u16677_img.selected {
}
#u16677.selected {
}
#u16677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16678_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u16678 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:467px;
  width:43px;
  height:25px;
  display:flex;
}
#u16678 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16678_img.mouseOver {
}
#u16678.mouseOver {
}
#u16678_img.selected {
}
#u16678.selected {
}
#u16678_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u16679_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u16679 {
  border-width:0px;
  position:absolute;
  left:607px;
  top:467px;
  width:53px;
  height:25px;
  display:flex;
}
#u16679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u16679_img.mouseOver {
}
#u16679.mouseOver {
}
#u16679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
