body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-24px;
  width:900px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u6131_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:1410px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6131 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:24px;
  width:900px;
  height:1410px;
  display:flex;
}
#u6131 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6131_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6132_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6132 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u6132 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6132_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6133 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6134_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6134 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:110px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6134 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6134_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6135_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:196px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6135 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:110px;
  width:473px;
  height:196px;
  display:flex;
}
#u6135 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6135_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6136_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6136 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:142px;
  width:56px;
  height:16px;
  display:flex;
}
#u6136 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6136_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6137_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6137 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:142px;
  width:42px;
  height:16px;
  display:flex;
}
#u6137 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6137_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6138_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6138 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:178px;
  width:56px;
  height:16px;
  display:flex;
}
#u6138 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6138_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6139_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6139 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:178px;
  width:86px;
  height:16px;
  display:flex;
}
#u6139 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6139_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6140_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6140 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:214px;
  width:56px;
  height:16px;
  display:flex;
}
#u6140 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6140_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6141_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6141 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:214px;
  width:56px;
  height:16px;
  display:flex;
}
#u6141 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6141_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6142_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6142 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:250px;
  width:56px;
  height:16px;
  display:flex;
}
#u6142 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6142_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6143_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:126px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6143 {
  border-width:0px;
  position:absolute;
  left:367px;
  top:250px;
  width:126px;
  height:16px;
  display:flex;
}
#u6143 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6143_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6144_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6144 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:322px;
  width:900px;
  height:1px;
  display:flex;
}
#u6144 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6144_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6145 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6146_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:187px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6146 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:339px;
  width:473px;
  height:187px;
  display:flex;
}
#u6146 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6146_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6147_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6147 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:339px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6147 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6147_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6148_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6148 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:366px;
  width:70px;
  height:16px;
  display:flex;
}
#u6148 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6148_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6149_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6149 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:366px;
  width:34px;
  height:16px;
  display:flex;
}
#u6149 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6149_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6150_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6150 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:402px;
  width:70px;
  height:16px;
  display:flex;
}
#u6150 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6150_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6151_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6151 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:402px;
  width:65px;
  height:16px;
  display:flex;
}
#u6151 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6151_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6152_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6152 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:438px;
  width:70px;
  height:16px;
  display:flex;
}
#u6152 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6152_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6153_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6153 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:438px;
  width:34px;
  height:16px;
  display:flex;
}
#u6153 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6153_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6154_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6154 {
  border-width:0px;
  position:absolute;
  left:295px;
  top:474px;
  width:56px;
  height:16px;
  display:flex;
}
#u6154 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6154_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6155_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6155 {
  border-width:0px;
  position:absolute;
  left:381px;
  top:474px;
  width:72px;
  height:16px;
  display:flex;
}
#u6155 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6155_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6156_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6156 {
  border-width:0px;
  position:absolute;
  left:463px;
  top:474px;
  width:14px;
  height:16px;
  display:flex;
}
#u6156 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6156_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6157_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6157 {
  border-width:0px;
  position:absolute;
  left:487px;
  top:474px;
  width:72px;
  height:16px;
  display:flex;
}
#u6157 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6157_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6158_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6158 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:542px;
  width:900px;
  height:1px;
  display:flex;
}
#u6158 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6158_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6159 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6160_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6160 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:559px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6160 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6160_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6161_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:638px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6161 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:559px;
  width:473px;
  height:638px;
  display:flex;
}
#u6161 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6161_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6162 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6163_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6163 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:604px;
  width:100px;
  height:100px;
  display:flex;
}
#u6163 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6163_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6164_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:100px;
}
#u6164 {
  border-width:0px;
  position:absolute;
  left:414px;
  top:604px;
  width:100px;
  height:100px;
  display:flex;
}
#u6164 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 51.5098274779284px 52px;
  box-sizing:border-box;
  width:100%;
}
#u6164_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6165_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:65px;
}
#u6165 {
  border-width:0px;
  position:absolute;
  left:432px;
  top:622px;
  width:65px;
  height:65px;
  display:flex;
  color:#8C8C8C;
}
#u6165 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6165_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6166_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6166 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:721px;
  width:56px;
  height:16px;
  display:flex;
}
#u6166 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6166_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6167_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6167 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:721px;
  width:34px;
  height:16px;
  display:flex;
}
#u6167 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6167_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6168_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6168 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:721px;
  width:56px;
  height:16px;
  display:flex;
}
#u6168 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6168_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6169_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6169 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:721px;
  width:57px;
  height:16px;
  display:flex;
}
#u6169 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6169_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6170_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6170 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:799px;
  width:56px;
  height:16px;
  display:flex;
}
#u6170 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6170_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6171_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:44px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6171 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:799px;
  width:44px;
  height:16px;
  display:flex;
}
#u6171 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6171_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6172 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:825px;
  width:360px;
  height:330px;
}
#u6173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6173 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
  display:flex;
}
#u6173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6174_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6174 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u6174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6175_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6175 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u6175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6176_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6176 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u6176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6177_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6177 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:60px;
  height:30px;
  display:flex;
}
#u6177 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6178_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6178 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u6178 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6178_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6179_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6179 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u6179 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6179_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6180_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6180 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:30px;
  width:100px;
  height:30px;
  display:flex;
}
#u6180 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6180_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6181_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6181 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:60px;
  width:60px;
  height:30px;
  display:flex;
}
#u6181 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6181_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6182_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6182 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u6182 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6182_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6183_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6183 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u6183 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6183_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6184_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6184 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:60px;
  width:100px;
  height:30px;
  display:flex;
}
#u6184 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6184_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6185_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6185 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:90px;
  width:60px;
  height:30px;
  display:flex;
}
#u6185 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6185_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6186_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6186 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u6186 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6186_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6187_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6187 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u6187 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6187_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6188_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6188 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:90px;
  width:100px;
  height:30px;
  display:flex;
}
#u6188 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6188_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6189_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6189 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:60px;
  height:30px;
  display:flex;
}
#u6189 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6189_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6190_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6190 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u6190 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6190_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6191_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6191 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u6191 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6191_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6192_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6192 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:120px;
  width:100px;
  height:30px;
  display:flex;
}
#u6192 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6192_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6193_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6193 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:60px;
  height:30px;
  display:flex;
}
#u6193 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6193_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6194_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6194 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u6194 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6194_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6195_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6195 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u6195 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6195_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6196_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6196 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:150px;
  width:100px;
  height:30px;
  display:flex;
}
#u6196 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6196_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6197_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6197 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:180px;
  width:60px;
  height:30px;
  display:flex;
}
#u6197 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6197_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6198_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6198 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u6198 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6198_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6199_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6199 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u6199 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6199_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6200_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6200 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:180px;
  width:100px;
  height:30px;
  display:flex;
}
#u6200 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6200_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6201_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6201 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:210px;
  width:60px;
  height:30px;
  display:flex;
}
#u6201 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6201_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6202_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6202 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u6202 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6202_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6203_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6203 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u6203 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6203_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6204_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6204 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:210px;
  width:100px;
  height:30px;
  display:flex;
}
#u6204 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6204_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6205_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6205 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:240px;
  width:60px;
  height:30px;
  display:flex;
}
#u6205 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6205_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6206_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6206 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:240px;
  width:100px;
  height:30px;
  display:flex;
}
#u6206 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6207 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:240px;
  width:100px;
  height:30px;
  display:flex;
}
#u6207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6208 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:240px;
  width:100px;
  height:30px;
  display:flex;
}
#u6208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6209 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:270px;
  width:60px;
  height:30px;
  display:flex;
}
#u6209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6210 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:270px;
  width:100px;
  height:30px;
  display:flex;
}
#u6210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6211_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6211 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:270px;
  width:100px;
  height:30px;
  display:flex;
}
#u6211 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6212_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6212 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:270px;
  width:100px;
  height:30px;
  display:flex;
}
#u6212 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6213_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:30px;
}
#u6213 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:300px;
  width:60px;
  height:30px;
  display:flex;
}
#u6213 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6213_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6214_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6214 {
  border-width:0px;
  position:absolute;
  left:60px;
  top:300px;
  width:100px;
  height:30px;
  display:flex;
}
#u6214 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6214_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6215_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6215 {
  border-width:0px;
  position:absolute;
  left:160px;
  top:300px;
  width:100px;
  height:30px;
  display:flex;
}
#u6215 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6215_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6216_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u6216 {
  border-width:0px;
  position:absolute;
  left:260px;
  top:300px;
  width:100px;
  height:30px;
  display:flex;
}
#u6216 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6216_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6217_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6217 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:747px;
  width:56px;
  height:16px;
  display:flex;
}
#u6217 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6217_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6218_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6218 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:747px;
  width:34px;
  height:16px;
  display:flex;
}
#u6218 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6218_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6219_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6219 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:747px;
  width:84px;
  height:16px;
  display:flex;
}
#u6219 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6219_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6220_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6220 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:747px;
  width:57px;
  height:16px;
  display:flex;
}
#u6220 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6220_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6221_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6221 {
  border-width:0px;
  position:absolute;
  left:436px;
  top:773px;
  width:84px;
  height:16px;
  display:flex;
}
#u6221 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6221_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6222_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6222 {
  border-width:0px;
  position:absolute;
  left:535px;
  top:773px;
  width:50px;
  height:16px;
  display:flex;
}
#u6222 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6222_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6223_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6223 {
  border-width:0px;
  position:absolute;
  left:281px;
  top:773px;
  width:56px;
  height:16px;
  display:flex;
}
#u6223 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6223_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6224_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:29px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6224 {
  border-width:0px;
  position:absolute;
  left:352px;
  top:773px;
  width:29px;
  height:16px;
  display:flex;
}
#u6224 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6224_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6225_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6225 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:1215px;
  width:900px;
  height:1px;
  display:flex;
}
#u6225 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6225_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6226 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u6227_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6227 {
  border-width:0px;
  position:absolute;
  left:125px;
  top:1232px;
  width:72px;
  height:21px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
}
#u6227 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6227_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6228_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:473px;
  height:135px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u6228 {
  border-width:0px;
  position:absolute;
  left:227px;
  top:1232px;
  width:473px;
  height:135px;
  display:flex;
}
#u6228 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6228_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u6229_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6229 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1268px;
  width:56px;
  height:16px;
  display:flex;
}
#u6229 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6229_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6230_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:42px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6230 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1268px;
  width:42px;
  height:16px;
  display:flex;
}
#u6230 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6230_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6231_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6231 {
  border-width:0px;
  position:absolute;
  left:259px;
  top:1304px;
  width:56px;
  height:16px;
  display:flex;
}
#u6231 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6231_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6232_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:130px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u6232 {
  border-width:0px;
  position:absolute;
  left:345px;
  top:1304px;
  width:130px;
  height:16px;
  display:flex;
}
#u6232 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u6232_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u6233_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:40px;
  background:inherit;
  background-color:rgba(170, 170, 170, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u6233 {
  border-width:0px;
  position:absolute;
  left:822px;
  top:37px;
  width:80px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u6233 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6233_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u6234_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:901px;
  height:2px;
}
#u6234 {
  border-width:0px;
  position:absolute;
  left:24px;
  top:93px;
  width:900px;
  height:1px;
  display:flex;
}
#u6234 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u6234_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
