body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-16px;
  width:978px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14514_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:978px;
  height:536px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.349019607843137), 1px 1px 5px 0px rgba(0, 0, 0, 0.349019607843137) inset;
}
#u14514 {
  border-width:0px;
  position:absolute;
  left:16px;
  top:26px;
  width:978px;
  height:536px;
  display:flex;
}
#u14514 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14514_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14515_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14515 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:50px;
  width:80px;
  height:23px;
  display:flex;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:20px;
}
#u14515 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14515_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14516 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:197px;
  width:920px;
  height:230px;
}
#u14517_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
}
#u14517 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:30px;
  display:flex;
}
#u14517 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14517_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14518_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:30px;
}
#u14518 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:0px;
  width:120px;
  height:30px;
  display:flex;
}
#u14518 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14518_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14519_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:30px;
}
#u14519 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:0px;
  width:70px;
  height:30px;
  display:flex;
}
#u14519 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14519_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14520_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u14520 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u14520 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14520_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14521_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:30px;
}
#u14521 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:0px;
  width:140px;
  height:30px;
  display:flex;
}
#u14521 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14521_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14522_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14522 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u14522 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14522_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14523_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14523 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u14523 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14523_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14524_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14524 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u14524 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14524_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14525_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:30px;
}
#u14525 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:0px;
  width:100px;
  height:30px;
  display:flex;
}
#u14525 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14525_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14526_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14526 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:30px;
  width:50px;
  height:40px;
  display:flex;
}
#u14526 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14526_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14527_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14527 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:30px;
  width:120px;
  height:40px;
  display:flex;
}
#u14527 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14527_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14528_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u14528 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:30px;
  width:70px;
  height:40px;
  display:flex;
}
#u14528 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14528_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14529_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14529 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u14529 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14529_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14530_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14530 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:30px;
  width:140px;
  height:40px;
  display:flex;
}
#u14530 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14530_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14531_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14531 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u14531 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14531_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14532_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14532 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u14532 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14532_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14533_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14533 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u14533 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14533_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14534_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14534 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:30px;
  width:100px;
  height:40px;
  display:flex;
}
#u14534 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14534_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14535_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14535 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:50px;
  height:40px;
  display:flex;
}
#u14535 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14535_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14536_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14536 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:70px;
  width:120px;
  height:40px;
  display:flex;
}
#u14536 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14536_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14537_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u14537 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:70px;
  width:70px;
  height:40px;
  display:flex;
}
#u14537 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14537_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14538_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14538 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u14538 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14538_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14539_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14539 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:70px;
  width:140px;
  height:40px;
  display:flex;
}
#u14539 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14539_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14540_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14540 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
  color:#D9001B;
}
#u14540 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14540_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14541_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14541 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u14541 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14541_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14542_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14542 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u14542 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14542_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14543_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14543 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:70px;
  width:100px;
  height:40px;
  display:flex;
}
#u14543 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14543_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14544_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14544 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:110px;
  width:50px;
  height:40px;
  display:flex;
}
#u14544 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14544_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14545_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14545 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:110px;
  width:120px;
  height:40px;
  display:flex;
}
#u14545 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14545_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14546_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u14546 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:110px;
  width:70px;
  height:40px;
  display:flex;
}
#u14546 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14546_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14547_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14547 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
}
#u14547 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14547_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14548_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14548 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:110px;
  width:140px;
  height:40px;
  display:flex;
}
#u14548 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14548_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14549_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14549 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u14549 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14549_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14550_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14550 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u14550 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14550_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14551_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14551 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u14551 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14551_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14552_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14552 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:110px;
  width:100px;
  height:40px;
  display:flex;
}
#u14552 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14552_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14553_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14553 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:150px;
  width:50px;
  height:40px;
  display:flex;
}
#u14553 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14553_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14554_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14554 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:150px;
  width:120px;
  height:40px;
  display:flex;
}
#u14554 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14554_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14555_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u14555 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:150px;
  width:70px;
  height:40px;
  display:flex;
}
#u14555 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14555_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14556_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14556 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:150px;
  width:140px;
  height:40px;
  display:flex;
}
#u14556 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14556_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14557_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14557 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:150px;
  width:140px;
  height:40px;
  display:flex;
}
#u14557 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14557_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14558_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14558 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u14558 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14558_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14559_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14559 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u14559 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14559_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14560_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14560 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u14560 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14560_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14561_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14561 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:150px;
  width:100px;
  height:40px;
  display:flex;
}
#u14561 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14561_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14562_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:40px;
}
#u14562 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:50px;
  height:40px;
  display:flex;
}
#u14562 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14562_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14563_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:40px;
}
#u14563 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:190px;
  width:120px;
  height:40px;
  display:flex;
}
#u14563 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14563_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14564_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:40px;
}
#u14564 {
  border-width:0px;
  position:absolute;
  left:170px;
  top:190px;
  width:70px;
  height:40px;
  display:flex;
}
#u14564 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14564_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14565_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14565 {
  border-width:0px;
  position:absolute;
  left:240px;
  top:190px;
  width:140px;
  height:40px;
  display:flex;
}
#u14565 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14565_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14566_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:140px;
  height:40px;
}
#u14566 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:190px;
  width:140px;
  height:40px;
  display:flex;
}
#u14566 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14566_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14567_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14567 {
  border-width:0px;
  position:absolute;
  left:520px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u14567 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14567_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14568_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14568 {
  border-width:0px;
  position:absolute;
  left:620px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u14568 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14568_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14569_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14569 {
  border-width:0px;
  position:absolute;
  left:720px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u14569 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14569_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14570_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
}
#u14570 {
  border-width:0px;
  position:absolute;
  left:820px;
  top:190px;
  width:100px;
  height:40px;
  display:flex;
}
#u14570 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14570_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14571_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14571 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:235px;
  width:50px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14571 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14571_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14572_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14572 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:275px;
  width:50px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14572 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14572_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14573_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14573 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:315px;
  width:50px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14573 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14573_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14574_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14574 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:355px;
  width:50px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14574 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14574_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14575_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:50px;
  height:25px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u14575 {
  border-width:0px;
  position:absolute;
  left:890px;
  top:395px;
  width:50px;
  height:25px;
  display:flex;
  color:#FFFFFF;
}
#u14575 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14575_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14576 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14577_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14577_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14577_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14577 {
  border-width:0px;
  position:absolute;
  left:590px;
  top:150px;
  width:120px;
  height:25px;
  display:flex;
}
#u14577 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14577_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14577.disabled {
}
.u14577_input_option {
}
#u14578_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14578_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14578_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14578 {
  border-width:0px;
  position:absolute;
  left:455px;
  top:150px;
  width:120px;
  height:25px;
  display:flex;
}
#u14578 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14578_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14578.disabled {
}
#u14579_input {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14579_input.disabled {
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  padding:2px 2px 2px 2px;
  font-family:'Arial Normal', 'Arial', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:13px;
  letter-spacing:normal;
  color:#000000;
  vertical-align:none;
  text-align:left;
  text-transform:none;
  background-color:transparent;
  border-color:transparent;
}
#u14579_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14579 {
  border-width:0px;
  position:absolute;
  left:725px;
  top:150px;
  width:120px;
  height:25px;
  display:flex;
}
#u14579 .text {
  position:absolute;
  align-self:flex-start;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14579_div.disabled {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:120px;
  height:25px;
  background:inherit;
  background-color:rgba(240, 240, 240, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14579.disabled {
}
.u14579_input_option {
}
#u14580 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14581_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:30px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  border:none;
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  letter-spacing:1.5px;
}
#u14581 {
  border-width:0px;
  position:absolute;
  left:875px;
  top:145px;
  width:65px;
  height:30px;
  display:flex;
  letter-spacing:1.5px;
}
#u14581 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14581_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14582_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:14px;
}
#u14582 {
  border-width:0px;
  position:absolute;
  left:881px;
  top:153px;
  width:14px;
  height:14px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14582 .text {
  position:absolute;
  align-self:center;
  padding:1px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14582_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14583_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u14583 {
  border-width:0px;
  position:absolute;
  left:45px;
  top:167px;
  width:86px;
  height:16px;
  display:flex;
}
#u14583 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u14583_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u14584_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:40px;
  background:inherit;
  background-color:rgba(127, 127, 127, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:5px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
}
#u14584 {
  border-width:0px;
  position:absolute;
  left:865px;
  top:62px;
  width:100px;
  height:40px;
  display:flex;
  font-size:18px;
}
#u14584 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14584_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14585 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u14586_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u14586 {
  border-width:0px;
  position:absolute;
  left:380px;
  top:450px;
  width:53px;
  height:25px;
  display:flex;
}
#u14586 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14586_img.mouseOver {
}
#u14586.mouseOver {
}
#u14586_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u14587 {
  border-width:0px;
  position:absolute;
  left:440px;
  top:450px;
  width:43px;
  height:25px;
  display:flex;
}
#u14587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14587_img.mouseOver {
}
#u14587.mouseOver {
}
#u14587_img.selected {
}
#u14587.selected {
}
#u14587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u14588 {
  border-width:0px;
  position:absolute;
  left:483px;
  top:450px;
  width:43px;
  height:25px;
  display:flex;
}
#u14588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14588_img.mouseOver {
}
#u14588.mouseOver {
}
#u14588_img.selected {
}
#u14588.selected {
}
#u14588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:43px;
  height:25px;
}
#u14589 {
  border-width:0px;
  position:absolute;
  left:526px;
  top:450px;
  width:43px;
  height:25px;
  display:flex;
}
#u14589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14589_img.mouseOver {
}
#u14589.mouseOver {
}
#u14589_img.selected {
}
#u14589.selected {
}
#u14589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:25px;
}
#u14590 {
  border-width:0px;
  position:absolute;
  left:577px;
  top:450px;
  width:53px;
  height:25px;
  display:flex;
}
#u14590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14590_img.mouseOver {
}
#u14590.mouseOver {
}
#u14590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
